.footer{
    background-color: gainsboro;
    color:black;
    height:100vh;
    text-align: center;
}

.content{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding: 30px;
}

.content div{
    width:30%;
}

.Icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}