.footer{
    background-color: gainsboro;
    color:black;
    height:auto;
    text-align: center;
}

.content{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding: 30px;
}

.content div{
    width:33%;
}

.middle-part .Icons{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.middle-part .Icons div{
    width:17%;
}

a{
    cursor:pointer;
}

.Icons div a{
    opacity:0.7;
    transition: 0.2s ease;
}

.Icons div a:hover{
    opacity: 1;
}

.Icons div a svg{
    transition: 0.2s ease;
}

.Icons div a svg:hover {
  transform: scale(1.2);
}

.footer-bottom{
    background-color: #1c2e4a;
    color:white;
    height: auto;
    padding:0.6rem;
    font-size: larger;
}

.about-us{
    padding:0 0.6rem;
}

.about-us p{
    text-align: justify;
}

.about-us h2,.why-kashflow h2{
    margin-bottom: 0.8rem;
    color: #1c2e4a;
    font-weight: 700;
    padding-bottom: 1rem;
}

.about-us p,.why-kashflow p{
    font-size: large;
}

.about-us h2,
.why-kashflow h2 {
  position: relative;
  display: inline-block;
}

.about-us h2::after,
.why-kashflow h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* controls distance from text */
  width: 100%;
  height: 4px;
  background-color: goldenrod;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.about-us h2:hover::after,
.why-kashflow h2:hover::after {
  transform: scaleX(1); /* animate underline */
}

span{
    color:goldenrod;
}

.middle-part .feedback-link{
    font-size: large;
    color:#1c2e4a;
    font-weight: 500;
    transition: 0.2s ease-in;
}

.middle-part .feedback-link:hover{
    font-weight: 700;
}