.input{
    width:400px;
}

.input .MuiInputBase-input{
    color: white;
}

.input .MuiInputLabel-root {
    color: white;
}

.input .MuiInputLabel-root.Mui-focused{
    color: white;
}

.input .MuiOutlinedInput-root fieldset {
  border-color: white; /* Default border color */
}

.input .MuiOutlinedInput-root:hover fieldset {
 border-color: white;/* On hover */
  box-shadow: 2px 2px 10px white;
}

.input .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: lightblue; /* On focus */
  box-shadow: 2px 2px 10px lightblue;
}


.head img{
    transform: scale(0.6);
}

.head h1{
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 2px white;
    margin-top: -54px;
}

.box{
    display: flex;
    width:100vw;
    align-items:flex-start;
    margin-top: 10px;
    overflow-x: hidden;
}

.Side_Image img{
    height:650px;
    width:650px;
    margin-top: 3.3rem;
    margin-left: 3rem;
}

.form_data{
    text-align: center;
    padding-left:20px;
}

form{
    width:650px;
}